<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS Externo. -->
    <link rel="stylesheet" href="../../../../css/login.css">

    <title>Entrar</title>
</head>

<body>

    <section class="sign_body">
        <div class="sign_container">

            <section class=sign>

                <form id="login-form" class="sign_form" role="form" aria-label="Formulário de login">

                    <div class="sign_logo">
                        <a href="../../../../index.html" class="sign_a
                    sign_social" aria-label="Página Inicial" role="button">
                            <img src="../../../../assets/etec.png" alt="Logo Etec Zona Leste" class="sign_logo">
                        </a>
                    </div><br />

                    <legend>
                        <h1 class="sign_title">Bem-vindo de volta!</h1>
                    </legend>

                    <p class="sign_paragraph">Entre para acessar sua conta</p>

                    <div class=sign_container_input>

                        <label for="email">
                            <input type="email" name="email" id="email" placeholder="exemplo@exemplo.com" required
                                aria-label="Email" role="textbox" autoComplete="email" class="sign_input" />
                            <MdAlternateEmail class="sign_patient_expert_ico2" aria-hidden="true" />
                        </label>

                        <label for="password">
                            <input type="password" name="password" id="password" placeholder="Senha" required
                                aria-label="Senha" role="textbox" autoComplete="current-password" class="sign_input" />
                        </label>
                    </div>

                    <button type="submit" class="sign_btn sign_btn_link"
                        aria-label="Enviar formulário de login do usuário">Entrar</button>

                    <p class="sign_paragraph">
                        Ainda não tem uma conta?
                        <a href="register.html" class="sign_a sign_account"> Cadastrar conta
                        </a>
                    </p>

                </form>
            </section>
        </div>
    </section>

    <script type="module">

        import firebaseConfig from "../../../../firebaseConfig.js";

        // Import the functions you need from the SDKs you need
        import { initializeApp } from "https://www.gstatic.com/firebasejs/10.10.0/firebase-app.js";
        // Importação do criar usuário com e-mail e senha e fazer login como e-mail e senha.
        import { getAuth, createUserWithEmailAndPassword, signInWithEmailAndPassword } from "https://www.gstatic.com/firebasejs/10.10.0/firebase-auth.js";
        // TODO: Add SDKs for Firebase products that you want to use
        // https://firebase.google.com/docs/web/setup#available-libraries

        const firebaseApp = initializeApp(firebaseConfig);
        const firebaseAuth = getAuth(firebaseApp);

        // O usuário está logado?
        firebaseAuth.onAuthStateChanged((user) => {
            if (user) {
                // O usuário vai ir para a página hommee se ele estiver logado.
                window.location.replace("/homee.html");
            }
        });

        let loginForm = document.getElementById('login-form');
        loginForm.addEventListener('submit', (event) => {
            event.preventDefault();
            let email = loginForm['email'].value;
            let password = loginForm['password'].value;
            signInWithEmailAndPassword(firebaseAuth, email, password)
                .then((userCredential) => {
                    const user = userCredential.user;
                    console.log('Usuário logado:', user);
                })
                .catch((error) => {
                    const errorCode = error.code;
                    const errorMessage = error.message;
                    console.error('Erro ao fazer login:', errorMessage);
                    alert('E-mail e senha incorretos!');
                });
        });
    </script>

</body>

</html>