<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CSS Externo. -->
  <link rel="stylesheet" href="../../../../css/register.css">

  <title>Register</title>
</head>

<body>

  <section class="register_body">
    <div class="register_container">

      <section class=register>

        <form id="register-form" class="register_form" role="form" aria-label="Formulário de cadastro">

          <div class="register_logo">
            <a href="../../../../index.html" class="register_a
                sign_social" aria-label="Página Inicial" role="button">
              <img src="../../../../assets/etec.png" alt="Logo Etec Zona Leste" class="register_logo">
            </a>
          </div><br />

          <legend>
            <h1 class="register_title">Bem-vindo a sua jornada!</h1>
          </legend>

          <p class="register_paragraph">Para ter acesso total a nossos recursos, cadastre-se já!</p>

          <div class=register_container_input>

            <label for="email">
              <input type="email" name="email" id="email" placeholder="exemplo@exemplo.com" required aria-label="Email"
                role="textbox" autoComplete="email" class="register_input" />
              <MdAlternateEmail class="register_patient_expert_ico2" aria-hidden="true" />
            </label>

            <label for="password">
              <input type="password" name="password" id="password" placeholder="Senha" required aria-label="Senha"
                role="textbox" autoComplete="current-password" class="register_input" />
            </label>
          </div>

          <button type="submit" class="register_btn register_btn_link"
            aria-label="Enviar formulário de cadastro do usuário">Cadastrar</button>

          <p class="register_paragraph">
            Já tem conta?
            <a href="login.html" class="register_a register_account"> Entrar na conta
            </a>
          </p>

        </form>
      </section>
    </div>
  </section>

  <script type="module">

    import firebaseConfig from "../../../../firebaseConfig.js";

    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/10.10.0/firebase-app.js";
    // Importação do criar usuário com e-mail e senha e fazer login como e-mail e senha.
    import { getAuth, createUserWithEmailAndPassword, signInWithEmailAndPassword } from "https://www.gstatic.com/firebasejs/10.10.0/firebase-auth.js";
    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries

    const firebaseApp = initializeApp(firebaseConfig);
    const firebaseAuth = getAuth(firebaseApp);

    // O usuário está logado?
    firebaseAuth.onAuthStateChanged((user) => {
      if (user) {
        // O usuário vai ir para a página hommee se ele estiver logado.
        window.location.replace("/homee.html");
      }
    });

    let registerForm = document.getElementById('register-form');
    registerForm.addEventListener('submit', (event) => {
      event.preventDefault();
      let email = registerForm['email'].value;
      let password = registerForm['password'].value;
      createUserWithEmailAndPassword(firebaseAuth, email, password)
        .then((userCredential) => {
          const user = userCredential.user;
          console.log('Usuário registrado:', user);
          alert('Cadastro realizado com sucesso!');
        })
        .catch((error) => {
          const errorCode = error.code;
          const errorMessage = error.message;
          console.error('Erro ao registrar usuário:', errorMessage);
          alert('Esse e-mail já está cadastrado!');
        });
    });
  </script>

</body>

</html>